---
import "../styles/global.css";
---

<div class="card-container m-6 grid grid-flow-col grid-rows-4 bg-gray-200 gap-4 rounded-lg">
	<slot></slot>
</div>


<style>
	.card-container{
		width: 90vw;
		height: 90vh;
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
		gap: 10px;
	}




</style>

